[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Varun Bhadauria (varun2784)
[access "refs/for/refs/*"]
	read = group user/Varun Bhadauria (varun2784)
	push = group user/Varun Bhadauria (varun2784)
	label-Code-Review = -2..+2 group user/Varun Bhadauria (varun2784)
	label-Verified = -1..+1 group user/Varun Bhadauria (varun2784)
	rebase = group user/Varun Bhadauria (varun2784)
	removeReviewer = group user/Varun Bhadauria (varun2784)
	submit = group user/Varun Bhadauria (varun2784)
[access "refs/heads/*"]
	read = group user/Varun Bhadauria (varun2784)
	create = group user/Varun Bhadauria (varun2784)
	push = +force group user/Varun Bhadauria (varun2784)
	pushMerge = group user/Varun Bhadauria (varun2784)
[access "refs/tags/*"]
	push = group user/Varun Bhadauria (varun2784)
	push = +force group user/Varun Bhadauria (varun2784)
